<div class="row">

  <div class="row">
    <div class="col-lg-4">
      <a href="http://191.52.140.14:3002" target="_blank">
        <img width="100px" src="img/redmine.png">
        <p>Redmine</p>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="http://191.52.140.14:3002" target="_blank">
        <img width="100px" src="img/redmine.png">
        <p>Redmine</p>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="http://191.52.140.14:3002" target="_blank">
        <img width="100px" src="img/redmine.png">
        <p>Redmine</p>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">

          <a href="http://191.52.140.14:3002" target="_blank">
            <img width="100px" src="img/redmine.png">
            <p>Redmine</p>
          </a>

    </div>
    <div class="col-lg-4">
      <a href="http://191.52.140.14:3002" target="_blank">
        <img width="100px" src="img/redmine.png">
        <p>Redmine</p>
      </a>
    </div>
    <div class="col-lg-4">
      <a href="http://191.52.140.14:3002" target="_blank">
        <img width="100px" src="img/redmine.png">
        <p>Redmine</p>
      </a>
    </div>
  </div>

</div>